*{
  padding: 0;
  margin: 0;
  font-family:monospace;
  font-size: large;
}
.header2{
  margin-left: auto;
}

.header{
  display: flex;
  background-color: rgb(20, 20, 119);
  padding: 10px;
  flex-wrap: wrap;


  menu{
    display: flex;
    list-style: none;
    margin-right: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 4px;
  }
  menu li{
    padding: 10px;
    height: 50px;
  }
  menu li:hover{
    background-color: rgb(69, 63, 241);
  }

  .opp{
    display: none;
    list-style: none;
    color: #d2f1fad4;
    font-family:monospace;
    font-weight: bolder;
    justify-content: space-evenly;
    background-color: rgb(45, 45, 150);
    padding: 10px;
    flex-wrap: wrap;
    font-size: larger;
    padding-top: 10px;
  }

  .opp2{
    display: flex;
    list-style: none;
    color: #d2f1fad4;
    font-family:monospace;
    font-weight: bolder;
    justify-content: space-evenly;
    background-color: rgb(45, 45, 150);
    padding: 10px;
    flex-wrap: wrap;
    font-size: larger;
    padding-top: 10px;
  }
  

  ul li{
    padding: 10px;
    height: 50px;
  }

  ul li:hover{
    background-color: rgb(71, 58, 208);
    cursor: pointer;
  }

  .menu-button:hover{
    cursor: pointer;
    transition: 0.1s;
  }
}
ul a{
  color: white;
  text-decoration: none;
}

.header .one{
  display: none;
  flex-direction: column;
  top: 0;
  width: 250px;
  z-index: 999;
  justify-content: flex-start;
  backdrop-filter: blur(10px);
  background-color: rgba(29, 36, 48, 0.5);
  position: absolute;
  right: 0;
  height: 100vh;
  padding-right: 0%;

}
.one li{
  border-top: 1.5px solid rgb(18, 17, 23);
}
.close{
  background-color: black;
  padding: 15px;
}
.one:nth-child(1){
  border-top: "none";
}
.first{
  display: none;
}
.div h2{
  color: rgb(0, 0, 255);
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.div .about{
  background-color: #f5f6fb;
}
.div .about2{
  flex: 1;
}
@media (min-width: 500px){
  .menu-button{
    display: none;
  }

  .header{
    position: fixed;
    width: 100%;
  }
  
}

.resume{
  background-color: rgb(243, 242, 252);
  padding: 10px;
  display: block;

}
.resume-button{
  padding: 5px;
  background-color: rgb(106, 20, 126);
  margin: 4px;
}

.resume-button a{
  color: rgb(241, 241, 245);
  text-decoration: none;
}
.resume-button:hover{
  background-color: #122b7c;
}

@media (max-width: 499px){
  .yes{
    display: none;
  }

}
@media (max-width: 400px){
  .header .one{
    width: 90%;
  }
  
}

/* About Section */
.div{
  padding-top: 200px;
  text-align: center;
  background-color: #eef0f5;
}
.about{
  background-color: hsl(180, 70%, 26%);
  padding: 20px;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 1px solid;

  .profile{
    border-radius: 40px;
  }
  .about1{
    background-color: rgb(253, 252, 253);
    padding: 10px;
    flex: 1;
    color: #0c1156;
    text-align: start;
  }

  span{
    color: rgb(115, 0, 255);

  }
}
.wave{
  animation: shake 0.6s linear;
  margin-left: 4px;
  margin-right: 10px;

}

@keyframes shake {
  from{
    transform: rotate(40deg);
  }
  to{
    transform: rotate(-40deg);
  }
  
}

@media (max-width: 500px){
  .about{
    padding-top: 20px;
  }
}

/* Skills css */

.skills{
  text-align: center;
  margin: 20px;
}
.skills h2{
  color: blue;
}

.myskills{
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
  gap: 50px;

}
.frontend{
  margin-bottom: 50px;
}

/* projects section */

.projects{
  text-align: center;
  color: rgb(52, 6, 236);
  background-color: rgb(230, 226, 237);
}

.apps{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.all-projects{
  background-color: #7a97ee;
  padding: 10px;
  padding-bottom: 20px;
  color: #eef0f5;
  margin-bottom: 40px;
  border-bottom: 2px solid rgb(21, 4, 4);
}
.cal-button{
  padding: 10px;
  background-color: rgb(93, 16, 225);
  color: rgb(25, 22, 56);
  font-weight: bolder;
  border-radius: 4px;
}
.cal-button a{
  text-decoration: none;
  color: #eef0f5;
}
.cal-button:hover{
  background-color: #122b7c;
}
.awesome{
  transform: rotateY(10deg);
}
FontAwesomeIcon{
  transform: rotate(20deg, 0);
}
.project1{
  margin: 10px;
  background-color: #f5f6f1;
  color: #131421;
  flex: 1;
  padding: 10px;
}

/* Contact Me Section */

.contact-h1{
  text-align: center;
  color: blue;
  background-color: #b2bfe6;
}
.last{
  background-color: #e6eaf8;
  padding: 20px;
}
.last .message{
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.first-call{
  flex:1;
  background-color: #e4e7f3;
  padding: 10px;
  color: #1a1f66;
}

.form{
  flex: 1;
  flex:1;
  background-color: #e8ebf4;
  padding: 10px;
  color: rgb(11, 10, 37);
}
.submit{
  background-color: #cad5fc;
  width: 195px;
  padding: 10px;
  color: #7b5436;
  font-size: x-large;
  font-weight: bolder;
}
.submit:hover{
  cursor: pointer;
  background-color: #7b96ef;
}

.project1 h1{
  color: rgb(165, 4, 90);
  font-size: xx-large;
  font-weight: bolder;
  text-decoration: underline 1.5px blue;
}


.footer{
  background-color: #2d226a;
  height: 100px;
  margin-top: 10px;
  text-align: center;
  padding-top: 40px;
  font-size: xx-large;
  color: rgb(149, 201, 38);
}
.form{
  background-color: #b2bfe6;
}

.send1 input{
  width: 190px;
  height: 40px;
  background-color: #c9ec9f;

}

.send1 input:hover{
  cursor: pointer;
  background-color: #e7f0dc;
}

.cont{
  text-align: center;
}

.cont h1{
  color: blue;
}

.opp{
  display: none;
  flex-direction: column;
  z-index: 999;
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
}

@media (max-width: 500px){
  .about1{
    display: none;
  }
}

@media (min-width: 501px){
  .men{
    display: none;
  }
}